<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p  %c{1} (%F:%L) (%t) (%X{uniqueRequestId}) %msg%n"/>
        </Console>

        <RollingFile name="MyFile" fileName="logs/DFIXRouter.log" filePattern="logs/DFIXRouter-%d{yyyy-MM-dd}-%i.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p  %c{1} (%F:%L) (%t) (%X{uniqueRequestId}) %msg" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="100" />
        </RollingFile>

        <RollingFile name="MessageFile" fileName="logs/MessageFile.log" filePattern="logs/MessageFile-%d{yyyy-MM-dd}-%i.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %c{1} %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="250MB" />
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <RollingFile name="WatchDog" fileName="logs/WatchDogAgent.log" filePattern="logs/WatchDogAgent-%d{yyyy-MM-dd}.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p  %c (%F:%L) (%t) (%X{uniqueRequestId}) %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>

        <AsyncLogger name="com.mubasher.oms.dfixrouter" level="DEBUG" additivity="false">
            <AppenderRef ref="MyFile"/>
        </AsyncLogger>

        <AsyncLogger name="quickfixj" level="ERROR" additivity="false">
            <AppenderRef ref="MessageFile"/>
        </AsyncLogger>

        <AsyncLogger name="com.dfn.watchdog" level="ERROR" additivity="false">
            <AppenderRef ref="WatchDog"/>
        </AsyncLogger>

        <AsyncRoot level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </AsyncRoot>
    </Loggers>
</Configuration>