ADMIN_PORT=9977
CONSOLE_ADMIN_PORT=9988

JDK_TYPE=sun
HOSTS_COUNT=1
HOST1_OMS_ID=3

##falcon registered config start (uncomment if needed)
#HOST_TO_QUEUE=jms/queue/FromExchangePreProcessed
#HOST_FROM_QUEUE_COUNT=1
#HOST_INTERMEDIATE_QUEUE_COUNT=0
#HOST_FROM_QUEUE=jms/queue/ToExchange
#HOST_MIDDLEWARE=JMS
#HOST_QUEUE_MANAGER_NAME=MBSHQM
#HOST_CHANNEL_NAME=CLIENT.TO.MBSHQM
#HOST_EJB_CLIENT_PROVIDER_URL=http-remoting://
# HOST1_EJB_CLIENT_PROVIDER_URL=https-remoting://127.0.0.1:8443?socket.enabledProtocols=TLSv1.2   # ssl 	
#HOST_INITIAL_CONTEXT_FACTORY=org.jboss.naming.remote.client.InitialContextFactory
#HOST_CONNECTION_FACTORY=jms/RemoteConnectionFactorySTP
#HOST_URL_PKG_PREFIXES=java.naming.factory.url.pkgs
#HOST_URL_PKG_PREFIXES_VALUE=org.jboss.naming
#HOST_USERNAME=dfix
#HOST_PASSWORD=ZZTpR8pbf+6LVeybU+APuQ==

##falcon registered config end

HOST1_IP={{ SERVER_IP }}
HOST1_PORT=8080
HOST1_TO_QUEUE=jms/queue/FromExchangePreProcessed
HOST1_FROM_QUEUE_COUNT=1
HOST1_INTERMEDIATE_QUEUE_COUNT=0
HOST1_FROM_QUEUE=jms/queue/ToExchange
HOST1_MIDDLEWARE=JMS
HOST1_QUEUE_MANAGER_NAME=MBSHQM
HOST1_CHANNEL_NAME=CLIENT.TO.MBSHQM
HOST1_SSL_ENABLED=false
HOST1_EJB_CLIENT_PROVIDER_URL=http-remoting://{{ SERVER_IP }}:8080
HOST1_INITIAL_CONTEXT_FACTORY=org.jboss.naming.remote.client.InitialContextFactory
#HOST1_INITIAL_CONTEXT_FACTORY=org.wildfly.naming.client.WildFlyInitialContextFactory
HOST1_CONNECTION_FACTORY=jms/RemoteConnectionFactorySTP
HOST1_URL_PKG_PREFIXES=java.naming.factory.url.pkgs
HOST1_URL_PKG_PREFIXES_VALUE=org.jboss.naming
HOST1_USERNAME=dfix
HOST1_PASSWORD=ZZTpR8pbf+6LVeybU+APuQ==

TRADING_SESSIONS_AUTO_CONNECT=Y
ENABLE_WATCHDOG=Y
FALCON_IP={{ SERVER_IP }}
FALCON_PORT=7802
#FALCON_IP_SECONDARY=192.168.14.186
#FALCON_PORT_SECONDARY=7802

#####Fix Log type: Default/SeperateFiles=0, SingleFile=1
FIX_LOG_TYPE =0
####Cluster settings
DFIX_CLUSTER_NAME=DFIX_CLUSTER
DFIX_ID=1
CLUSTER_HEART_BEAT=3000

####FailOver Settings
AUTO_FAILOVER_ENABLED=Y
FAILOVER_ATTEMPTS=3
FAILOVER_INTERVAL=30000

IS_PROCESS_EXCHANGE_MSG=N
IS_CLUBBING_ENABLED=N
CLUBBING_TIME_OUT=10000
CLUBBED_MSG_DELAY=600000
CLUBBING_RATIO=0.005

IS_SIMULATOR_ON=N
FORWARD_QUEUE_SLEEP=1
SIM_ORDER_CREATE_QUEUED=Y

EXCHANGE_LEVEL_GROUPING=Y
JMS_SESSION_COUNT=10

##SSL_COMPONETS - uncomment and update if SSL enabled
#SSL_ENABLED=Y
#KEYSTORE_PATH=./system/server.keystore
#ENC_KEYSTORE_PASSWORD=ofJ97bjrdN8BAJMQ7Swi9w==
#TRUSTSTORE_PATH=./system/server.truststore
#ENC_TRUSTSTORE_PASSWORD=ofJ97bjrdN8BAJMQ7Swi9w==

###Falcon_Auth
#FALCON_AUTHENTICATION_NODE_CATEGORY=BMXsWWsX1Wg+b/v1NV6FZSwCpHNbEQWhYRqFMvR6A/A=
#FALCON_AUTHENTICATION_NODE_PASSWORD=PPNtfV9/qGBvtC8C6BTW7g==

##SSL_FALCON
#FALCON_SSL_AGENT_ENABLED=Y
#FALCON_SSL_CLIENT_KEYSTORE=./system/falcon/server.keystore
#FALCON_SSL_CLIENT_ENC_KEYSTORE_PASSWORD=ofJ97bjrdN8BAJMQ7Swi9w==
#FALCON_SSL_CLIENT_TRUSTSTORE=./system/falcon/server.truststore
#FALCON_SSL_CLIENT_ENC_TRUSTSTORE_PASSWORD=ofJ97bjrdN8BAJMQ7Swi9w==

#IS_DAILY_MANUAL_RESTART=N
#Scheduled time for the Cache Clearing process Daily.24hrs Format.
#DAILY_CACHE_CLEAR_TIME=00:00:00

#Order Wise Queue Parallelization for ICM FIX Orders
#SIM_PROCESS_ICM_ORDERS=N

##falcon registered config start
#ENABLE_FALCON_REGISTRATION=Y

# HOST_TO_QUEUE=jms/queue/FromExchangePreProcessed
# HOST_FROM_QUEUE_COUNT=1
# #HOST_INTERMEDIATE_QUEUE_COUNT=0
# HOST_FROM_QUEUE=jms/queue/ToExchange
# HOST_MIDDLEWARE=JMS
# HOST_QUEUE_MANAGER_NAME=MBSHQM
# HOST_CHANNEL_NAME=CLIENT.TO.MBSHQM
# HOST_SSL_CIPHER_SUITE=TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
# HOST_FIPS_ENABLED=N
# HOST_MQ_QUEUE_MANAGER=FIXQM
# HOST_EJB_CLIENT_PROVIDER_URL=http-remoting://
# # HOST1_EJB_CLIENT_PROVIDER_URL=https-remoting://127.0.0.1:8443?socket.enabledProtocols=TLSv1.2   # ssl
# HOST_INITIAL_CONTEXT_FACTORY=org.jboss.naming.remote.client.InitialContextFactory
# HOST_CONNECTION_FACTORY=jms/RemoteConnectionFactorySTP
# HOST_URL_PKG_PREFIXES=java.naming.factory.url.pkgs
# HOST_URL_PKG_PREFIXES_VALUE=org.jboss.naming
# HOST_USERNAME=dfix
# HOST_PASSWORD=dfix_1234


### Variables to be updated by Ansible ######
# {{ SERVER_IP }} -> IP of the instance