[default]
FileStorePath=./quick_fix/output/data/sim
FileLogPath=./logs/sim/sessions
BeginString=FIX.4.2
ReconnectInterval=10
HeartBtInt=5
CheckLatency=N
AllowUnknownMsgFields=Y
ValidateFieldsOutOfOrder=N
ValidateUserDefinedFields=N
ValidateUnorderedGroupFields=N
ValidateIncomingMessage=N
TimeZone=Asia/Colombo
#DefaultApplVerID=7
#TransportDataDictionary=./quick_fix/etc/FIXT11.xml
#AppDataDictionary=./quick_fix/etc/FIX50.xml
DataDictionary=./quick_fix/etc/FIX42.xml

[session]
ConnectionType=acceptor
SessionIdentifier=SLGM0
SenderCompID=SLGM0
TargetCompID=TDWL
#StartDay=sunday
#EndDay=friday
StartTime=00:00:00
EndTime=00:00:00
#CheckLatency=N
AllowedRemoteAddresses={{ SIM_SERVER_IP }}
SocketAcceptPort=11502
UserDefined=21=1
#UseDataDictionary=Y
DefaultTradingMarket=SAEQ
